body{
  background-image:url('/img/stof2.png');
  background-repeat: repeat;
}

/**
 * Site header
 */
.site-header {
  background-color:rgb(63, 63, 72);
  border-bottom: 2px solid red;
  font-size:2em;
  text-align:center;
  height:2em;
  position:relative;
}

.site-title {
  font-size: 1.5em;
  padding:0.5em;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  background-image:url('/img/stof.png');
  border-radius:50%;
  display:inline;
  color:red;
  text-decoration:none;
  display:inline-block;
  transition: transform 0.2s;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2)
}

.site-title:hover {
  text-decoration:none;
  transform: rotate(7deg);
  transition: transform 0.2s;
  color:red;
}

.phone{
  color:white;
  position:absolute;
  left:65%;
  top:50%;
  line-height:0;
}

.page-content{
  margin-top:3em;
}


.site-footer{
  border-top:1px solid red;
}

.large{
  font-size:1.5em;
}

